@font-face {
    font-family: 'Expressway';
    src: url('fonts/expressway.ttf');
}

body {
  background-color: #faeed4;
  font-family: Expressway, Helvetica;
}

a {
  color: #e49253;
  text-decoration: none;
}

#logo_name, #main_text {
  text-align: center;
}

#main_text p {
  margin: 100px;
}

#logo_name h1 {
  display: inline;
}

.solid_green_button {
  color: white;
  background-color: #a2c66e;
  font-size: 1em;
  border: 0px;
}

input {
  border: 1px solid white;
  border-radius: 7px;
  outline: 0;
  height: 30px;
}

input:focus {
  border: 1px solid #e49253;
}

input[type="text"], input[type="email"], input[type="password"] {
  font-size: 1em;
  color: #cd5334;
  width: 350px;
}

.errors p {
  color: #FF6961;
  margin: 0;
}
